<div id="wrap">
<h2 class="title">Resume Generator</h2> 
<%= form_tag do %>
	<span><%= label_tag 'Full Name: ' %></span>
	<%= text_field_tag 'full_name', @full_name %><br>
	<span><%= label_tag 'Address: ' %></span>
	<%= text_field_tag 'address', @address %><br>
	<span><%= label_tag 'E-mail: ' %></span>
	<%= email_field_tag 'email', @email %> <br>
	<span><%= label_tag 'Work Experience: ' %></span>
	<%= text_field_tag 'work_place', @work_place, :placeholder => "Work Place"  %>
	<%= text_area_tag 'work_description', @work_description, :size => "26x5", :placeholder => "Work Description" %><br>
	<%= button_tag 'Add More' %><br><br>
	<span><%= label_tag 'Honors and Awards: ' %></span>
	<%= text_field_tag 'honors_awards_title', @honors_awards_title, :placeholder => "Ttitle"  %>
	<%= text_area_tag 'honors_awards_description', @honors_awards_description, :size => "26x5", :placeholder => "Description" %><br>
	<%= button_tag 'Add More' %><br><br>
	<%= submit_tag 'Generate Resume' %>
	
	<% end %>
</div> 