<div id="wrap">
<h2 class="title">Resume Generator</h2> 
<%= text_field_tag 'first_name', @first_name, :placeholder=> 'first name' %> 
<%= text_field_tag 'last_name', @last_name, :placeholder => 'last name' %> 
<%= label_tag 'address1 %>
<%= text_field_tag 'address1', @address1 %>
<%= label_tag 'address2' %> 
<%= text_field_tag 'address2', @address2  %> 
<%= text_field_tag 'email', @email, :placeholder => 'youremail@email.com' %> 
</div> 
