<h3><%= @user_data[:full_name] %></h3>
<%= @user_data[:work_description] %><br>
<%= @user_data[:honors_title] %><br>
<%= @user_data[:honors_description] %><br>
<p id="pdf_link"><%= link_to "Download Resume (PDF)", :format =>"pdf" %></p>



